footer {
  position: relative;
  background: black;
  padding: 180px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  color: white;

  .bloc-content {
    width: 100%;
    max-width: 995px;
    font-family: 'lulocleanw01-onebold';
    margin-bottom: 100px;

    h2 {
      font-size: 44px;
      line-height: 80px;

      text-transform: uppercase;
      margin: 55px 0;
      letter-spacing: 3px;
    }

    // Responsive
    @media screen and (max-width: 1180px) {

      h2 {
        font-size: 2.2em;
        margin: 60px;

      }
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 1.7em;
        line-height: 45px;
      }
    }

    @media screen and (max-width: 600px) {
      h2 {
        font-size: 1.1em;
      }

      a.button {
        max-width: 150px;
        font-size: 0.65em;
      }
    }
  }

  .bloc-contact {
    width: 100%;
    max-width: 995px;
    display: flex;
    justify-content: flex-end;

    ul {
      width: 100%;
      max-width: 560px;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li {
        font-family: 'lulocleanw01-onebold';
        font-size: 11.5px;
        color: #B5B6B3;
        
        a {
          color: #B5B6B3;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      justify-content: center;

      ul {
        flex-direction: column;
        text-align: center;

        li {
          margin: 5px 0;
        }
      }
    }
  }


  @media screen and (max-width: 768px) {
    padding: 70px 0;

    .bloc-content {
      margin-bottom: 0;
    }
  }
}